*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color:rgba(70, 130, 180,0.2);
}

/* preloader starts here */
#preloader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background-color: white;
    background-image: url('4V3iCCv.gif');
    background-repeat: no-repeat;
    background-position: center;
}
/* preloader ends here */

#main{
    width: 100vw;
    height: auto;
   
}

#header{

    width: 100vw;
    height: 20vh;
    background-color: white;
    display: flex;
    margin-bottom: 30px;
    background: transparent;
}

#logo_main{
    width: 40%;
    height: 100%;
    
}

#anchor{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 60%;
    height: 85%;
}

#home{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#category_head{

    color: black;
    text-decoration: none;
    font-size: 2vmax;
    transition-property: color;
    transition-timing-function: linear;
    transition-duration: 0.25s;
}

#category_head:hover{
    color: rgba(0,0,0,0.7);
}


#category_head::after{
    content: "";
    border-top: 2px solid black;
    display: block;
    transform: scaleX(0);
     transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    transform-origin: left;
    
}

#category_head:hover::after{
 
    transform:scaleX(1);
}

#animation_main{
    width: 100vw;
    height:15vh;
    background-color:rgba(32, 178, 170,0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

#animation{
    color: rgb(72, 61, 139);
    font-size: 3.5vw;
}

#heart{
    color: rgba(255, 0, 0,0.8);
    font-size: 80%;
    animation-name: dil;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
}

#questions_main{
    margin-top: 10vh;
}



@keyframes dil {

    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }

    100% {
        transform: scale(1,1);
    }
    
}

#marks_main{
    width: 100vw;
    height: 20vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(32, 178, 170,0.5);
}

#marks{
    margin:7px 0 7px 0;
    font-size: 180%;
}

#play_again{
    width: 6%;
    height: 25%;
    background-color: coral;
    border-radius: 5px;
}

#play_link{
    text-decoration: none;
    color: black;
}

#ques_sup{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#questions_main{
   
    width: 50%;
    height:auto;

}

.c_ans{
    padding: 15px;
}

#sahi_jawab1{
    display: none;
}


#sahi_jawab2{
    display: none;
}

#sahi_jawab3{
    display: none;
}

#sahi_jawab4{
    display: none;
}

#sahi_jawab5{
    display: none;
}

#sahi_jawab6{
    display: none;
}

#sahi_jawab7{
    display: none;
}

#sahi_jawab8{
    display: none;
}

#sahi_jawab9{
    display: none;
}


#sahi_jawab10{
    display: none;
}


.new_ques{
    width: 100%;
    height:auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 10px 0 10px 0;
}

.new_ques p{
    font-size: 1.35vw;
    line-height: 25px;
}

#button{
    width: 80px;
    height: 40px;
    background-color: tomato;
    border-radius: 4px;
    cursor: pointer;
}

.inputs{
    height: auto;
    padding: 15px;
}

.inputs input{
    cursor: pointer;
 }

.inputs label{
    font-size: 1.35vw;
    cursor: pointer;
}


#answer_1{
    color: green;
    font-weight: bolder;
}

#answer_2{
    color: green;
    font-weight: bolder;
}


#answer_3{
    color: green;
    font-weight: bolder;
}

#answer_4{
    color: green;
    font-weight: bolder;
}

#answer_5{
    color: green;
    font-weight: bolder;
}

#answer_6{
    color: green;
    font-weight: bolder;
}

#answer_7{
    color: green;
    font-weight: bolder;
}

#answer_8{
    color: green;
    font-weight: bolder;
}

#answer_9{
    color: green;
    font-weight: bolder;
}

#answer_10{
    color: green;
    font-weight: bolder;
}

#butt_sup{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.incorrect{
   margin-left: 30px;
   font-size: 1.5vmax;
}

@media(max-width:1080px){

#main{
    height: auto;
}

#header{

    width: 100vw;
    height: 15vh;
}

#logo_main{
    width: 50%;
    height: 100%;
    
}


#home{
    width: 50%;
    height: 100%;
}

#logo{
    width: 70%;
    height: 70%;
}

#category_head{

    font-size: 2.5vmax;

}

#marks_main{
    height: 12vh;
}

#your_score{
    font-size: 350%;
    font-weight: bolder;
}

#marks{
    font-size: 350%;
    margin:12px 0 12px 0;
    font-weight: bolder;
}

#play_again{
    width: 15%;
    height: 25%;
    
    border-radius: 10px;
}

#play_link{
    font-size: 180%;
    font-weight: bolder;
}

    #questions_main{
        width: 70%;
    }


    #animation_main{
        height: 10vh;
    }

    #animation{
        font-size: 4vmax;
    }

    .new_ques{
        height: auto;
        margin: 35px 0 35px 0;
        padding: 30px;
    }

    .new_ques p{
        font-size: 2.963vw;
        line-height: 45px;
    }

.inputs{
    height: auto;
    padding: 15px;
    display: flex;
}


/* to set the radio input width and height we must use units in "em" */
.inputs input{
   width: 2.4em;
   height: 2.4em;
}

    .inputs label{
        font-size: 2.963vw;
        line-height: 45px;
    }

    .c_ans{
        font-size: 210%;
    }

    #button{
        width: 170px;
        height: 70px;
        border-radius: 10px;
        margin-bottom: 40px;
        font-size: 220%;
    }

    .c_option{
        font-size: 110%;
    }

    #butt_sup{
        height: 20vh;
    }
}


/* footer started here */
#main_footer{
    width: 100%;
    height: 90vh;
    background-color: #28282B;
}
#child_footer{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 10vh 0;
    flex-wrap: wrap;
    
}

#child_footer section{
    width: 300px;
    height: 40vh;
}

#child_footer section li{
    list-style: none;
    padding: 8px 0;
}

#child_footer section h3{
    color: white;
    letter-spacing: 1px;
}

#child_footer section a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

#privacy{
    width: 25vmax;
    height: 4vmax;
  
    margin-top: 0.7vmax;
    
}

#disclaimer{
    width:25vmax;
    height: 4vmax;
   
    
}

#pp{
    font-size:1.2vmax;
    display: flex;
    align-items: center;
}

#dis{
    font-size:1.2vmax;
    display: flex;
    align-items: center;
}

#pp_icon{
    font-size: 1.9vmax;
   color:#87CEFA; 
}

#dis_icon{
    font-size: 1.9vmax;
    color:#87CEFA; 
}



#insta{
   margin: 1vmax 0 1.5vmax 0;
   font-size:1.2vmax;
   width: 50%;
   display: flex;
   align-items: center;
}
#face{
font-size:1.2vmax;
   width: 50%;
   display: flex;
   align-items: center;
margin: 0 0 1.5vmax 0;

}

#twitter{
font-size:1.2vmax;
   width: 50%;
   display: flex;
   align-items: center;
}


#insta_icon{
 color: #87CEFA;
 font-size: 1.9vmax;
 transition-property: transform;
   transition-timing-function: linear;
   transition-duration: 00.2s;
}
#insta_icon:hover{
transform: rotate(360deg);
}

#facebook_icon{
color: #87CEFA;
font-size:1.9vmax;
transition-property: transform;
transition-timing-function: linear;
transition-duration: 00.2s;
}

#facebook_icon:hover{
transform: rotate(360deg);
}

#twitter_icon{
color: #87CEFA;
font-size:1.9vmax;
transition-property: transform;
transition-timing-function: linear;
transition-duration: 00.2s;
}

#twitter_icon:hover{
transform: rotate(360deg);
}

#add{
color: white;
font-weight: normal;
font-size: 1.2vmax;
display: flex;
align-items: center;
}

#add_ress{
color:grey;
font-size: 90%;
}

#address_icon{
font-size: 1.8vmax;
color:#87CEFA;
}

#mo_num{
color: #87CEFA;
font-size: 1.8vmax;
}

#e_id{
color: #87CEFA;
font-size:1.8vmax;
}

#foot_des p{
text-align: center;
color: grey;
font-size: 90%;
text-transform: uppercase;
border-bottom: 0.1px solid grey;
padding-bottom: 12px;
}


#c_right p{
color: grey;
}
#hi_rt a{
color: #87CEFA;
text-decoration: none;
}

#hi_rt a:hover{
color: #00BFFF;
}

#foot_end{
width: 100%;
height:22vh;
display: flex;
justify-content: space-around;
align-items: center;
}


@media (max-width: 1080px){

#main_footer{
height: auto;
}

#child_footer section{
width: 80%;
height: auto; 
padding: 3vh 0;   
}

#child_footer section li{
font-size: 150%;
padding: 15px 0;
line-height: 150%;
}

#pp{
font-size:1vmax;
}

#dis{
font-size:1vmax;
}

#pp_icon{
font-size: 1.5vmax;
}

#dis_icon{
font-size: 1.5vmax;
}

#insta{
font-size: 1vmax;
}

#face{
font-size: 1vmax;
}

#twitter{
font-size: 1vmax;
}

#facebook_icon{
font-size: 1.5vmax;
}

#insta_icon{
font-size: 1.5vmax;
}

#twitter_icon{
font-size: 1.5vmax;
}

#add{
font-size: 1vmax;
}

#mobile_text{
font-size: 1vmax;
}

#email_text{
font-size: 1vmax;
}

#child_footer{
padding: 3vh 0;
}

#child_footer section h3{
font-size: 150%;
}

#child_footer section p{
font-size: 150%;
}

#child_footer section h4{
font-size: 150%;
}

#mo_num{
font-size:1.5vmax;
}

#e_id{
font-size: 1.5vmax;
}

#foot_des p{
font-size: 150%;
}

#foot_end{
 height: 10vh;
 display: block;
}

#c_right{
 margin-top: 5.5vh;
 margin-bottom: 3vh;
}

#c_right p{

 text-align: center;
 font-size: 150%;
}

#add_links li{
 font-size: 150%;
}

#add_links{
 text-align: center;
}
}
/* footer ended here */