* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #383e4e;
}
/* navigation starts here */
#navigation_child {
            width: 100vw;
            height: 20vh;
             background-color:rgba(230, 235, 238,0.8);
            display: flex;
            justify-content: space-around;
            align-items: center;
           position: fixed;
           top: 0;
           z-index: 1;
        }

        #logo_div {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #rt_logo {

            width: 28vmax;
            height: 80%;
        }

        #nav_main {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        #checkLabel {
         
            font-size: 5vmax;
            cursor: pointer;
            display: none;
        }

        #checkBox {
            display: none;
        }

        #drop_down {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        #drop_down li {
            list-style: none;

        }

        #drop_down a {
            text-decoration: none;
            font-size: 1.5vmax;
            color: black;
            font-weight: 900;
            transition-property: color;
            transition-duration: 0.3s;
            transition-timing-function: linear;
        }

    


        #drop_down a:hover{
            color: rgba(0,0,0,0.7);
        }

        #main{
            margin-top: 20vh;
        }

        #close{
            display: none;
        }

        #index{
            position: relative;
        }

        #index::after{
         content: "";
         border-bottom: 2px solid black;
         display: block;
         width:0;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         transition-property: width;
         transition-timing-function: linear;
         transition-duration: 0.3s;
         transform-origin: center;
      
        }

        #index:hover::after{
          width: 90%;
        }

        
        #services{
            position: relative;
        }

        #services::after{
         content: "";
         border-bottom: 2px solid black;
         display: block;
         width:0;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         transition-property: width;
         transition-timing-function: linear;
         transition-duration: 0.35s;
         transform-origin: center;
      
        }

        #services:hover::after{
          width: 90%;
        }

        
        #contactus{
            position: relative;
        }

        #contactus::after{
         content: "";
         border-bottom: 2px solid black;
         display: block;
         width:0;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         transition-property: width;
         transition-timing-function: linear;
         transition-duration: 0.4s;
         transform-origin: center;
      
        }

        #contactus:hover::after{
          width: 90%;
        }

        #myprojects{
            position: relative;
        }

        #myprojects::after{
         content: "";
         border-bottom: 2px solid black;
         display: block;
         width:0;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         transition-property: width;
         transition-timing-function: linear;
         transition-duration: 0.35s;
         transform-origin: center;
      
        }

        #myprojects:hover::after{
          width: 90%;
        }

        #signin{
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            z-index: 0;
            text-transform: capitalize;
        }

        #signin img{
            width: 30px;
            height: 30px;
            margin-bottom: 5px;
        }

        #nou{
            cursor: pointer;
        }

       

/* #logout must be a child of #nou in order to apply css to it on hover over #nou          */
        #nou:hover #logout{
            transform:scaleY(1);
        }

        .fas{
            transition-property: transform;
            transition-timing-function: linear;
            transition-duration: 0.2s;
        }

        #nou:hover .fas{
            transform:rotate(-180deg);
        }

        #logout{
            width: 100%;
            height: 60px;
            position: absolute;
            background-color: rgba(255,255,255,0.9);
            transform: scaleY(0);
            top:55px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            transition-property: transform;
            transition-timing-function: linear;
            transition-duration: 0.2s;
            transform-origin: top;
            border-radius: 4px;
            flex-direction: column;
        }

        #logoutbtn{
            width: 100%;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }

        #userInfo{
            display: none;
            width: 100%;
            height: 20px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        #logoutbtn:hover{
            background-color: wheat;
            cursor: pointer;
        }

        #userInfo:hover{
            background-color: wheat;
            cursor: pointer;
        }

        #logout p a{
            font-size: 16px;
            font-weight: 100;
        }

        #login{
            width: 6vmax;
            height: 2.5vmax;
            background-color:#B0C4DE;
            font-size: 1.2vmax;
            border-radius: 4px 4px 4px 4px / 4px 4px 4px 4px;
            cursor: pointer;
           
        }

        #mo_log_btn{
            width: 0;
            height: 0;
            display: none;
            visibility: hidden;
        }

        #mo_usr_btn{
            width: 0;
            height: 0;
            display: none;
            visibility: hidden;
        }



       



        @media(max-width:1080px) {


            #navigation_child {
            height: 10vh;
          
        }

            #logo_div {
            width: 70%;
            height: 100%;
        }

            #checkLabel {
                display: flex;
                color: rgb(47, 79, 79);
            }

            #rt_logo {

                width: 20vmax;
                /* height: 80%; */
            }


            #drop_down {
                width: 60vw;
                height: 100vh;
                /* margin-top:20vh; */
                position: fixed;
                top: 0;
                left: 40vw;
                transform: translateX(60vw);
                background-color: #28282B;
                z-index: 999;
                transition-property: transform;
                transition-timing-function: linear;
                transition-duration: 0.3s;
                display: block;

            }

            #index{
                width: 100%;
                transform: translateY(15vmax);
                border-bottom: 1px solid white;
                text-align: center;
                height: 4vmax;
                display: flex;
                justify-content: flex-start;
                padding-left: 10%;
            }

            #index::after,#services::after, #contactus::after,#myprojects::after{
                display: none;
            }

            #services{
                width: 100%;
                transform: translateY(22vmax);
                border-bottom: 1px solid white;
                text-align: center;
                height: 4vmax;
                display: flex;
                justify-content: flex-start;
                padding-left: 10%;
            }

            #contactus{
                width: 100%;
                transform: translateY(29vmax);
                border-bottom: 1px solid white;
                text-align: center;
                height: 4vmax;
                display: flex;
                justify-content: flex-start;
                padding-left: 10%;
            }

            #myprojects{
                width: 100%;
                transform: translateY(35vmax);
                border-bottom: 1px solid white;
                text-align: center;
                height: 4vmax;
                display: flex;
                justify-content: flex-start;
                padding-left: 10%;
            }


            #checkBox:checked~#drop_down {
                transform: translateX(0vw);
            }

            #drop_down a{
                color:white;
                font-size: 2.6vmax;
                letter-spacing: 1.8px;
                color: grey;
                font-weight: 900;
                padding-bottom: 30px;
                transition-property: color;
                transition-timing-function: linear;
                transition-duration: 0.2s;
            }

           
  
            #drop_down a:visited{
color:rgb(100, 149, 237);
            }
            #drop_down a:hover{
color: darkgrey;
            }

 

            

            #close{
                width: 4vmax;
            color: white;
            font-size:2.5vmax;
          display: block;
          transform: translate(15px,10px);
          transition-property: color;
          transition-timing-function: linear;
          transition-duration: 0.3s;
          cursor: pointer;
          border: none;
          outline: none;
        }
#close:active{
    color: lightskyblue;
}

#close:hover{
    color:rgb(100, 149, 237);
}

#signin{
    width: 100%;
    position: absolute;
    top: 3%;
   color: white;
   font-size: 2vmax;
}

#signin img{
    margin-bottom: 15px;
    width: 5vmax;
    height: 5vmax;
}

#signin i{
    display: none;
}

#logout{
    display: none;
}

#login{
    position: absolute;
    right: 25px;
    top: 10px;
    width: 10vmax;
    height: 4.5vmax;
    border-radius: 8px 8px 8px 8px / 8px 8px 8px 8px;
}

#mo_log_btn{
    position: absolute;
    width: 100%;
    text-align: center;
    top:60vmax ;
    color: white;
    display: none;
    visibility: visible;
}

#mo_log_btn a{
    font-size: 2vmax;
    color: white;
   
}

#mo_usr_btn{
    position: absolute;
    width: 100%;
    text-align: center;
    top:70vmax ;
    color: white;
    display: none;
    visibility: visible;
}

#mo_usr_btn a{
    font-size: 2vmax;
    color: white;
}




        }
/* navigation ends here         */

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#child{
    width: 100%;
    height: auto;
    padding:10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}


#category{
    width: 60vw;
    height: 4.5vmax;
    font-size: 1.4vmax;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-bottom: 50px;
}

#difficulty{

    width: 60vw;
    height: 4.5vmax;
    font-size: 1.4vmax;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-bottom: 50px;
}

#category_head{
    margin: 10px 0 10px 0;
    color: white;
    font-weight: 100;
    font-size: 2.8vmax;
}

#difficulty_head{
    margin: 10px 0 10px 0;
    color: white;
    font-weight: 100;
    font-size: 2.8vmax;
}

.options{
    font-size: 1.3vmax;
}

#button{
    width: 8.5vmax;
    height: 4vmax;
    font-size: 1.5vmax;
    background-color:rgb(222, 184, 135);
    color: black;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: 0.2s;
}

#button:hover{
    background-color: rgba(255, 127, 80,0.7);
}


@media(max-width:1080px){

#main{
    height: 70vh;
}

#selection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#select_diff{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#category_head{
    width: 90vw;
}

#difficulty_head{
    width: 90vw;
}


}

@media (min-width:701px) and (max-width:1080px){

    #selection{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #select_diff{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #category{
        width: 90%;
        height: 6.5vmax;
        font-size: 1.7vmax;
    }
    
    #difficulty{
    
        width: 90%;
        height: 6.5vmax;
         font-size: 1.7vmax;
    }
    
    #button{
        width: 10.5vmax;
        height: 5vmax;
        font-size: 1.8vmax;
    }
    
    
    }

@media(min-width:300px) and (max-width:700px){

    #category{
        height: 6vmax;
        width: 90%;
    }
    
    #difficulty{
        height: 6vmax;
        width: 90%;
    }

}

@media(min-width:0px) and (max-width:300px){

    #category{
        width: 80%;
    }
    
    #difficulty{
        width: 80%;
    }

}

/* comments section started here */

#comments_section{
    height: auto;
    width: 80%;
    background-color: rgba(112, 128, 144, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    border-radius: 0 10px 0 0 / 0 10px 0 0 ;
}

#comment_numbers_parent{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1%;
    border-radius: 10px;
}

#comment_numbers{
   width: 90%;
   height: 5vmax;
   background-color: white;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 20px;
   border-radius: 10px;
 }

 #form1{
     width: 100%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     padding-right: 2%;
     margin-top: 3vmax;
 }

#add_comment{
    height: auto;
    width: 70%;
    border:1px solid grey;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
}

#comment_numbers span{
    font-weight: 900;
}

#number_of_comments{
    font-size: 1.4vmax;
}


#word_comments{
    font-weight: 900;
    font-size: 1.6vmax;
}
#comment_input{
    width: 100%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0 20px 0;
    word-wrap:normal;
}

#actual_comment{
    outline: none;
    padding:5px 0 0 5px;
    font-size: 1.2vw;
}

::placeholder{
    font-size: 1.2vmax;
}

#submit_comment{

    width: 100%;
    min-height:30% ;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
}

#sign_in{
    width: 6em;
    height: 2.5em;
    font-weight: 900;
}

#submit_comment input{
    width: 6vmax;
    height:2.5vmax;
    font-size: 1.25vmax;
    cursor: pointer;
   font-weight:bold;
    outline: none;
    border-radius: 2px 2px 2px 2px / 2px 2px 2px 2px;
    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: 0.2s;
    letter-spacing: 0.5px;
}

#submit_comment input:hover{
   background-color: rgba(135, 206, 250,0.5);
}
 #user_id{
    color: black;
    display: none;
    font-size: 1.2vw;
}

#user_id span{
    font-size: 1.4vw;
    font-weight: 900;
}

#comments_block{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1.5vmax 0 2vmax 0;
    padding-right: 2%;
}

.comments_card{
    width: 60%;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px;
    margin: 1vmax 0 1vmax 0;
}

.name_date_time{
    width: 100%;
    min-height: 1vmax;
    padding:1vmax 0.2vmax 1vmax 1vmax;
   background-color: white;
   display: flex;
   align-items: center;
   position: relative;
}


.wrap_comment{
width: 100%;
min-height: 1vmax;
word-wrap:break-word;
text-align: justify;
color: #48494d;
padding-left:1vmax;
padding-right:1vmax;
padding-top: 1vh;
display: flex;
align-items: center;
font-size: 1.2vmax;
}

.name{
    font-weight: 900;
    font-size: 1.3vmax;
    margin-right: 1vmax;
    text-transform: uppercase;
}

.date{
    color: #888;
    font-size: 1vmax;
}

.time{
    color: #888;
    font-size: 1vmax;
    margin-left: 0.5vmax;
}

.at{
    color: #888;
    font-size: 1vmax;
}

.three_dots{
   float: right;
    color: grey;
    cursor: pointer;
    display:none;
    justify-content: flex-end;
    align-items: center;
   position: absolute;
   right: 3.5vmax;
   font-size: 1.5vmax;
}

.edit_del{
    width: 6.5vmax;
    height: 6vmax;
    background-color: white;
    font-size: 0.8vmax;
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0.5vmax;
   top: 3vmax;
   box-shadow: 0 0 1px 3px lightgray;
   border-radius: 4px;
   padding:5px;
}

.fas{
    cursor: pointer;
   border-radius:50%;
}

.edit{
    text-decoration: none;
    color: black;
    margin-top: 2vh;
    cursor: pointer;
    font-size: 1vmax;
}

.edit:hover{
    color: green;
}

.delete{
    text-decoration: none;
    color: black;
    margin-top: 1vh;
    font-size: 1vmax;
    cursor: pointer;
}

.delete:hover{
    color: green;
}

/* css for the edit form2 */

#add_comment1{
    min-height: 30vh;
    width: 80%;
    border:1px solid grey;
    margin:10vh 0 1vh 12vw;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
}

#comment_input1{
    width: 100%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0 20px 0;
    word-wrap:normal;
}

#actual_comment1{
    outline: none;
    padding:5px 0 0 5px;
    font-size: 1.2vw;
}

#form2{
    display: none;
}

#cancelEdit{
    width: 6vmax;
    height:2.5vmax;
    font-size: 1vmax;
    cursor: pointer;
   font-weight:bold;
    outline: none;
    border-radius: 2px 2px 2px 2px / 2px 2px 2px 2px;
    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: 0.2s;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 0 1px 1px grey;
}

#cancelEdit:hover{
    background-color: rgba(135, 206, 250,0.5);
 }




@media(max-width:1080px){

    #comments_section{
        height: auto;
        width: 100%;
        background-color: rgba(112, 128, 144, 0.1);
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
        border-radius: 0 10px 0 0 / 0 10px 0 0 ;
    }

    #add_comment{
        height: auto;
        width: 70%;
    }
} 
/* comments section ends here */

/* footer started here */
		#main_footer{
			width: 100%;
			height: 90vh;
			background-color: #28282B;
		}
		#child_footer{
			display: flex;
			align-items: center;
			justify-content:space-around;
			padding: 10vh 0;
			flex-wrap: wrap;
			
		}

		#child_footer section{
			width: 300px;
			height: 40vh;
		}

		#child_footer section li{
			list-style: none;
			padding: 8px 0;
		}

		#child_footer section h3{
			color: white;
			letter-spacing: 1px;
		}

		#child_footer section a{
			text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
		}

        #privacy{
            width: 25vmax;
            height: 4vmax;
          
            margin-top: 0.7vmax;
            
        }

        #disclaimer{
            width:25vmax;
            height: 4vmax;
           
            
        }

        #pp{
            font-size:1.2vmax;
            display: flex;
            align-items: center;
        }

        #dis{
            font-size:1.2vmax;
            display: flex;
            align-items: center;
        }

        #pp_icon{
            font-size: 1.9vmax;
           color:#87CEFA; 
        }

        #dis_icon{
            font-size: 1.9vmax;
            color:#87CEFA; 
        }

      

       #insta{
           margin: 1vmax 0 1.5vmax 0;
           font-size:1.2vmax;
           width: 50%;
           display: flex;
           align-items: center;
       }
#face{
    font-size:1.2vmax;
           width: 50%;
           display: flex;
           align-items: center;
    margin: 0 0 1.5vmax 0;
    
}

#twitter{
    font-size:1.2vmax;
           width: 50%;
           display: flex;
           align-items: center;
}


     #insta_icon{
         color: #87CEFA;
         font-size: 1.9vmax;
         transition-property: transform;
           transition-timing-function: linear;
           transition-duration: 00.2s;
     }
     #insta_icon:hover{
        transform: rotate(360deg);
    }

     #facebook_icon{
        color: #87CEFA;
        font-size:1.9vmax;
        transition-property: transform;
    transition-timing-function: linear;
    transition-duration: 00.2s;
    }

    #facebook_icon:hover{
        transform: rotate(360deg);
    }

    #twitter_icon{
        color: #87CEFA;
        font-size:1.9vmax;
        transition-property: transform;
        transition-timing-function: linear;
        transition-duration: 00.2s;
    }

    #twitter_icon:hover{
        transform: rotate(360deg);
    }

#add{
	color: white;
	font-weight: normal;
    font-size: 1.2vmax;
    display: flex;
    align-items: center;
}

#add_ress{
	color:grey;
	font-size: 90%;
}

#address_icon{
    font-size: 1.8vmax;
    color:#87CEFA;
}

#mo_num{
	color: #87CEFA;
	font-size: 1.8vmax;
}

#e_id{
	color: #87CEFA;
	font-size:1.8vmax;
}

#foot_des p{
	text-align: center;
	color: grey;
	font-size: 90%;
	text-transform: uppercase;
	border-bottom: 0.1px solid grey;
	padding-bottom: 12px;
}


#c_right p{
 color: grey;
}
#hi_rt a{
	color: #87CEFA;
	text-decoration: none;
}

#hi_rt a:hover{
	color: #00BFFF;
}

#foot_end{
	width: 100%;
	height:22vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


@media (max-width: 1080px){

	#main_footer{
        letter-spacing: 0.75px;
		height: auto;
        word-spacing: 0.75px;
	}

	#child_footer section{
        width: 80%;
        height: auto; 
        padding: 3vmax 0;   
	}

	#child_footer section li{
		padding: 15px 0;
		line-height: 150%;
	}

    #privacy{
        min-width: 25vmax;
        min-height: 4vmax;
        margin-top: 1vmax;
        margin-bottom: 0.8vmax;
    }

    #disclaimer{
        min-width:25vmax;
        min-height: 4vmax;
    }

    #pp{
        font-size: 1.5vmax;
    }

    #dis{
        font-size: 1.5vmax;
    }

    #pp_icon{
        font-size: 1.9vmax;
    }

    #dis_icon{
        font-size: 1.9vmax;
    }

    #insta{
        font-size: 1.5vmax;
    }

    #face{
        font-size: 1.5vmax;
    }

    #twitter{
        font-size: 1.5vmax;
    }

    #facebook_icon{
        font-size: 1.9vmax;
    }

    #insta_icon{
        font-size: 1.9vmax;
    }

    #twitter_icon{
        font-size: 1.9vmax;
    }

    #add{
        font-size: 1.5vmax;
        margin-top: 1vmax;
        margin-bottom: 0.8vmax;
    }

    #mobile_text{
        font-size: 1.6vmax;
        margin-bottom: 0.8vmax;
    }

    #email_text{
        font-size: 1.7vmax;
        margin-bottom: 0.8vmax;
    }

	#child_footer{
		padding: 3vh 0;
	}

	#child_footer section h3{
		font-size: 2vmax;
	}

    #add_ress{
        font-size: 1.3vmax;
        margin-bottom: 0.8vmax;
    }

	#mo_num{
        font-size: 1.9vmax;
}

#e_id{
	font-size: 1.9vmax;
}

     #foot_des p{
       font-size: 1.3vmax;
     }

     #foot_end{
     	height: 10vh;
     	display: block;
     }

     #c_right{
     	margin-top: 5.5vh;
     	margin-bottom: 3vh;
     }

     #c_right p{

     	text-align: center;
     	font-size: 1.3vmax;
     }

     #add_links{
     	text-align: center;
     }

     #address_icon{
        font-size: 1.9vmax;
     }
}

/* footer ended here */


#ip{
    display: none;
}